<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Destino</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Agregar Destino</h1>
        <form action="{{ url_for('add_destino') }}" method="post">
            <div class="form-group">
                <label for="nombre_destino">Nombre:</label>
                <input type="text" id="nombre_destino" name="nombre_destino" class="form-control">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" class="form-control">
            </div>
            <div class="form-group">
                <label for="ciudad">Ubicación:</label>
                <input type="text" id="ciudad" name="ciudad" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
    </div>
</body>
</html>
